@import 'variable';



.app {
    overflow: hidden;
}

.header {
    height: var(--header-height);
    background-image: linear-gradient(0, #fe6433, #f43e2c);
}

.navbar {
    display: flex;
    justify-content: space-between;

}

.navbar-list {
    list-style-type: none;
    padding-left: 0;
    margin-top: 8px;
    display: flex;
}

.navbar-item {
    position: relative;
    margin: 0 8px;
    min-height: 26px;
}

.navbar-user {
    display: flex;
    justify-items: center;
    position: relative;
}

.navbar-user:hover .navbar-user-menu {
    display: block;
}

.navbar-user-img {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1)
}

.navbar-user-name {
    margin-left: 4px;
    font-size: 1.4rem;
    font-weight: 400;
}

.navbar-user-menu {
    position: absolute;
    padding-left: 0px;
    top: calc(100% + 4px);
    right: 0;
    background-color: var(--white-color);
    border-radius: 2px;
    width: 160px;
    list-style: none;
    z-index: 1;
    box-shadow: 0 2px 10px #ccc;
    display: none;
}

.navbar-user-menu::before {
    content: "";
    position: absolute;
    border-style: solid;
    border-color: transparent transparent #fff transparent;
    border-width: 20px 26px;
    right: 12px;
    top: -30px;

}

.navbar-user-menu::after {
    content: "";
    display: block;
    position: absolute;
    top: -8px;
    right: 0;
    width: 80%;
    height: 8px;
}

.navbar-user-item--separate {
    border-top: 1px solid rgba(0, 0, 0, 0.05);
}

.navbar-user-item a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
    padding: 8px 16px;
    display: block;
}

.navbar-user-item a:first-child {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.navbar-user-item a:last-child {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.navbar-user-item a:hover {
    background-color: #fafafa;
}

.navbar-item-icon {
    padding: 0 4px;
    display: inline-block;
}

.navbar-item,
.navbar-item__link {
    display: inline-block;
    font-size: 1.3rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 300;
}

.header__notify-items--has-notify:hover .header__notify {
    display: block;
    z-index: 1;
}

.navbar-qr:hover .header-qr {
    display: block;

}

.navbar-item:hover,
.navbar-icon-link:hover,
.navbar-item__link:hover {
    color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
}

.navbar-item,
.navbar-item__link,
.navbar-item-icon {
    display: inline-flex;
    align-items: center;
}

.navbar-item--strong {
    font-weight: 400;
}

.navbar-item--separate::after {
    position: absolute;
    content: "";
    display: block;
    height: 16px;
    border-left: 1px solid #fc9086;
    right: -8px;
}

.navbar-icon-link {
    font-size: 18px;
    color: var(--white-color);
    margin: 0 4px;
}

.navbar-icon-link:nth-child(2) {
    margin-left: 8px;
}

.navbar-title--no-pointer {
    cursor: text;
    color: var(--white-color)
}

.header-qr {
    width: 186px;
    background-color: var(--white-color);
    position: absolute;
    left: 0;
    top: 118%;
    padding: 8px;
    border-radius: 2px;
    z-index: 1;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    display: none;
}

.header-qr::before {
    position: absolute;
    width: 100%;
    height: 16px;
    top: -16px;
    left: 0;
    content: "";
    display: block;
    animation: fadeIn ease-in .3s;

}

.header-qr-img {
    width: 100%;
}

.header-qr-apps {
    display: flex;
    justify-content: space-between;
}

.header__qr-link:nth-child(1) {
    margin-left: 11px;
}

.header__qr-link:nth-child(2) {
    margin-right: 11px;
}

.header-qr-download-img {
    height: 16px;
}

.header__notify {
    position: absolute;
    top: 118%;
    right: 0;
    width: 404px;
    border: 1px solid #d3d3d3;
    background-color: var(--white-color);
    cursor: default;
    transform-origin: calc(100% - 20px) top;
    animation: headerNotifyGrow ease-in .2s;
    will-change: opacity, transform;
    display: none;
}

.header__notify::before {
    content: "";
    position: absolute;
    border-style: solid;
    border-color: transparent transparent #fff transparent;
    border-width: 20px 26px;
    right: 12px;
    top: -30px;

}

.header__notify::after {
    content: "";
    display: block;
    position: absolute;
    background-color: transparent;
    width: 68px;
    height: 20px;
    right: 18px;
    top: -12px;

}

@keyframes headerNotifyGrow {
    from {
        opacity: 0;
        transform: scale(0);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }

}

.header__notify-header {
    height: 40px;
    background-color: var(--white-color);

}

.header__notify-header h3 {
    color: #999;
    margin: 0;
    margin-left: 8px;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 40px;
}

.header__notify-list {
    padding-left: 0;
    height: 56vh;
    overflow-y: auto;
}

.header__notify-items {
    display: flex;

}

.header__notify-items:hover {
    color: #f7f7f7;
}

.header__notify-items--viewed {
    background: rgba(238, 75, 43, 0.08);
}


.header__notify-link {
    display: flex;
    width: 100%;
    padding: 12px;
    text-decoration: none;

}

.header__notify-img {
    width: 48px;
    object-fit: contain;
}

.header__notify-infor {
    margin-left: 12px;

}

.header__notify-name {
    display: block;
    font-size: 1.4rem;
    color: var(--text-color);
    font-weight: 400;
    line-height: 1.8rem;
}

.header__notify-description {
    font-size: 1.2rem;
    color: #756F6E;
    line-height: 1.4rem;
    margin-top: 4px;
}

.header__notify-footer {
    display: flex;

}

.header__noify-footer-btn {
    text-decoration: none;
    color: var(--text-color);
    margin: auto;
    padding: 8px 48px;
    font-weight: 400;

}

.auth-home-form {
    background-color:  #EE4D2D;
}

.auth-form-header {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.auth-form-header__logo{
    display: flex;
    align-items: center;
}

.auth-form-header__link {
    display: flex;
    align-items: center;
    color: var(--primery-color);
}

.auth-form-header__icon {
    font-size: 3.6rem;
    margin-top: -2px;
}

.auth-form-header__help {
    font-size: 1.4rem;
    color: var(--primery-color);
}

.auth-form-header__brand {
    font-size: 2.8rem;
    margin-left: 8px;
    margin-right: 20px;
    margin-top: 4px;
}

.auth-form-header__title {
    margin-bottom: 0;
    margin-top: 8px;
    font-weight: 400;
}

.auth-form-des {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
}

.auth-form__logo-icon {
    font-size: 20rem;
}

.auth-form__brand {
    font-size: 6.8rem;
    line-height: 8.8rem;
}

.auth-form__des {
    margin-top: 48px;
    font-size: 2.8rem;
}

.auth-form__description {
    font-size: 2.8rem;

}

.auth-form-wrap {
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.auth-form {
    width: 400px;
    background-color: var(--white-color);
    border-radius: 5px;
    overflow: hidden;
    
   
}

.auth-form--active {
    display: block;
}


.auth-form__container {
    padding: 0 32px;
}

.auth-form__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;
    margin: 24px 0;
}

.auth-form__heading {
    font-size: 2.2rem;
    font-weight: 400;
    color: var(--text-color);
}

.auth-form__register-btn {
    width: 100%;
    height:36px ;
    background-color: var(--primery-color);
    color: #fff;
    font-size: 1.4rem;
    border: none;
    cursor: pointer;
    outline: transparent;
}

.auth-form__switch-btn {
    font-size: 1.6rem;
    color: var(--primery-color);
    cursor: pointer;
}

.auth-form__input {
    width: 100%;
    height: 40px;
    margin-top: 16px;
    padding: 0 12px;
    font-size: 1.4rem;
    border-radius: 2px;
    border: 1px solid var(--border-color);
    outline: none;
}

.auth-form__input:focus {
    border-color: #888;
}

.auth-form__aside {
    margin-top: 18px;
}

.auth-form__policy-text {
    font-size: 12px;
    line-height: 1.8rem;
    text-align: center;
    padding: 0 12px;


}

.auth-form__text-link {
    text-decoration: none;
    color: var(--primery-color);

}

.auth-form__controls {
    display: flex;
    justify-content: flex-end;
    margin-top: 36px;
}

.auth-form__controls-back {
    margin-right: 8px;
}

.auth-form__socials {
    background-color: #fff;
    padding: 16px 36px;
    display: flex;
    justify-content: space-between;
    margin-top: 22px;
}

.auth-form__socials-icon {
    font-size: 2rem;
}

.auth-form__socials--facebook {
    color: var(--white-color);
    background-color: #3A5A98;
}


.auth-form__socials--facebook .auth-form__socials-icon {
    color: var(--white-color);

}


.auth-form__socials-title {
    margin: 0 32px;
}

.auth-form__help {
    display: flex;
    justify-content: flex-end;

}

.auth-form__help-link {
    text-decoration: none;
    font-size: 1.4rem;
    color: #939393;
}

.auth-form__help-separate {
    display: block;
    height: 22px;
    margin: -2px 16px 0;
    border-left: 1px solid #EAEAEA;
}

.auth-form__help-fogot {
    color: var(--primery-color)
}

/*header width search*/
.header-width-search {
    height: var(--header-width-search);
    display: flex;
    align-items: center;
}

.header__mobile-search {
    padding: 0 12px;
    display: none;
}

.header__mobile-search-icon {
    font-size: 2.6rem;
    color: var(--white-color);
}

.header__logo {
    width: 200px;
    margin: 0px 8px 8px;
}

.header__logo-link {
    text-decoration: none;
    display: block;
    font-weight: 400;
    font-size: 3.2rem;
    color: var(--white-color);

}

.header__logo-link:hover {
    text-decoration: none;
    color: var(--white-color);

}

.header__logo-icon {
    font-size: 4.5rem;
}

.header__logo-img {
    width: 180px;

}

.header__logo-title {
    margin-left: 4px;
    font-weight: 400;
}

.header__search {
    flex: 1;
    height: 40px;
    background-origin: 2px;
    background-color: var(--white-color);
    border-radius: 2px;
    display: flex;
    align-items: center;
}

.header__search-checkbox:checked~.header__search {
    display: flex;
}

.header__cart {
    width: 150px;
    text-align: center;
}

.header__cart-wrap {
    position: relative;
    display: inline-block;
    padding: 0px 12px;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}

.header__cart-wrap:hover .header__cart-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header__cart-icon {
    color: var(--white-color);
    font-size: 2.4rem;
}

.header__cart-list {
    position: absolute;
    top: calc(100% + 10px);
    right: 5px;
    background-color: var(--white-color);
    width: 400px;
    border-radius: 2px;
    box-shadow: 0 2px 10px #ccc;
    animation: fadeIn linear .2s;
    cursor: default;
    z-index: 1;
    display: none;
}

.header__cart-list::after {
    content: "";
    position: absolute;
    top: -24px;
    right: 3px;
    border-width: 12px 16px;
    cursor: pointer;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;

}

.header__cart-no-cart-img {
    width: 54%;
    /* display: none; */
}

.header__cart-list--no-cart {
    padding: 24px 0;
}

.header__cart-list--no-cart .header__cart-no-cart-img,
.header__cart-list--no-cart .header__cart-list-no-cart-msg {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.header__cart-list-no-cart-msg {
    /* display: none; */
    font-size: 1.4rem;
    margin-top: 14px;
    color: var(--text-color);
}

.header__cart-notice {
    position: absolute;
    top: -12px;
    right: 2px;
    padding: 1px 7px;
    color: var(--primery-color);
    background-color: var(--white-color);
    font-size: 1.4rem;
    line-height: 1.4rem;
    border-radius: 10px;
    border: 2px solid #e66248;
}

.header__cart-heading {
    text-align: left;
    margin: 8px 0px 8px 12px;
    font-size: 1.4rem;
    color: #999;
    font-weight: 400;
}

.header__cart-list-item {
    padding-left: 0;
    list-style: none;
}

.header__cart-item {
    display: flex;
    align-items: center;
}

.header__cart-item:hover {
    background-color: #f8f4f4;
}



.header__cart-img {
    width: 42px;
    height: 42px;
    margin: 12px;
}

.header__cart-item-infor {
    width: 100%;
    margin-right: 12px;

}

.header__cart-item-head {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.header__cart-item-name {
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--text-color);
    max-height: 4rem;
    overflow: hidden;
    margin: 0;
    flex: 1;
    padding-right: 16px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-align: left;
}


.header__cart-item-price {
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--primery-color);
    margin: 0;
}

.header__cart-item-multiply {
    font-size: 0.9rem;
    margin: 0 4px;
    color: #757575;
}

.header__cart-item-qnt {
    color: #757575;
    font-size: 1.2rem;


}

.header__cart-item-body {
    display: flex;
    justify-content: space-between;

}

.header__cart-item-description {
    color: #757575;
    font-size: 1.2rem;
    font-weight: 300;

}

.header__cart-viewcart {
    float: right;
    margin: 0 8px 8px 0;
}

.header__cart-item-remove {
    color: #757575;
    font-size: 1.2rem;
    font-weight: 300;


}

.header__cart-item-remove:hover {
    cursor: pointer;
    color: var(--primery-color);
}


.header__search-input-wrap {
    flex: 1;
    height: 100%;
    position: relative;
}

.header__search-input {
    width: 100%;
    margin-left: 16px;
    height: 100%;
    border: none;
    outline: none;
    border-radius: 2px;
    font-size: 1.4rem;
}


.header__search-select {
    border-left: 1px solid #E8E8E8;
    padding-left: 16px;
    position: relative;
}

.header__search-select:hover .header__search-option {
    display: block;
}

.header__search-select-label {
    font-size: 1.4rem;
    color: var(--text-color);
}

.header__search-select-icon {
    font-size: 1.4rem;
    color: #4A4A4A;
    margin: 0 16px 0 8px;
    position: relative;
    top: 1px;
}

.header__search-btn {
    background-color: var(--primery-color);
    border: none;
    height: 34px;
    width: 64px;
    border-radius: 2px;
    margin-right: 2px;
    outline: none;
}

.header__search-btn:hover {
    background-color: #e66248;
    cursor: pointer;
}

.header__search-btn-icon {
    font-size: 1.4rem;
    color: var(--white-color);
}

.header__search-option {
    position: absolute;
    right: 0;
    top: 116%;
    width: 136px;
    box-shadow: 0 1px 2px rgb(222, 221, 221);
    padding-left: 0;
    border-radius: 2px;
    overflow: hidden;

    display: none;
}



.header__search-option-item {
    background-color: var(--white-color);
    padding: 8px 8px;
    list-style-type: none;
}

.header__search-option-item span {
    font-size: 1.4rem;
    margin-left: 8px;
}


.header__search-option-icon {
    color: var(--primery-color);
    font-size: 1.2rem;
    margin: 0 4px 0 12px;
}

/* search-history */
.header__search-history {
    position: absolute;
    top: calc(100% + 2px);
    left: 0;
    width: calc(100% - 16px);
    background-color: var(--white-color);
    box-shadow: 0 1px 5px #bab6b6;
    z-index: 1;
    border-radius: 2px;
    display: none;
}

.header__search-input:focus~.header__search-history {
    display: block;
}

.header__search-history-title {
    margin: 6px 12px;
    font-size: 1.4rem;
    color: #999;
    font-weight: 400;
}

.header__search-history-list {
    padding-left: 0;
    list-style: none;
    margin-bottom: 0;
}

.header__search-history-item {
    height: 38px;
    padding: 0 12px;
}

.header__search-history-item:last-child {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;

}


.header__search-history-item a {
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--text-color);
    line-height: 38px;
    display: block;
}

.header__search-history-item:hover {
    background-color: #fafafa;
}

.header__cart-heading {
    text-align: left;
    margin: 8px 0px 8px 12px;
    font-size: 1.4rem;
    color: #999;
    font-weight: 400;
}

.header__cart-list-item {
    padding-left: 0;
    list-style: none;
}

.header__cart-item {
    display: flex;
    align-items: center;
}

.header__cart-item:hover {
    background-color: #f8f4f4;
}



.header__cart-img {
    width: 42px;
    height: 42px;
    margin: 12px;
}

.header__cart-item-infor {
    width: 100%;
    margin-right: 12px;

}

.header__cart-item-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__cart-item-name {
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--text-color);
    margin: 0;
}


.header__cart-item-price {
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--primery-color);
    margin: 0;
}

.header__cart-item-multiply {
    font-size: 0.9rem;
    margin: 0 4px;
    color: #757575;
}

.header__cart-item-qnt {
    color: #757575;
    font-size: 1.2rem;


}

.header__cart-item-body {
    display: flex;
    justify-content: space-between;

}

.header__cart-item-description {
    color: #757575;
    font-size: 1.2rem;
    font-weight: 300;

}

.header__cart-viewcart {
    float: right;
    margin: 0 8px 8px 0;
}

.header__cart-item-remove {
    color: #757575;
    font-size: 1.2rem;
    font-weight: 300;


}

.header__cart-item-remove:hover {
    cursor: pointer;
    color: var(--primery-color);
}

.header__sort-bar {
    position: fixed;
    top: var(--header-height);
    left: 0;
    right: 0;
    height: var(--header-sort-bar-height);
    background-color: var(--white-color);
    list-style: none;
    margin: 0;
    padding-left: 0;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    display: none;
}

.header__sort-item {
    flex: 1;
}


.header__sort-link {
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
    display: block;
    height: 100%;
    line-height: var(--header-sort-bar-height);
    text-align: center;
    position: relative;
}

.header__sort-link::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    height: 60%;
    border-left: 1px solid #e5e5e5;
    transform: translateY(-50%);
}

.header__sort-item--active .header__sort-link {
    color: var(--primery-color);
}

.header__sort-item:first-child .header__sort-link::after {
    display: none;
}

/* container */
.container-df {
    background-color: #F5F5F5;
}

.content {
    padding-top: 36px;
}

.category {
    border-radius: 2px;
    background-color: var(--white-color);

}

.category__heading {
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--text-color);
    padding: 16px 16px 0;
    margin: 0;
    text-transform: uppercase;
}

.category-list {
    padding: 0 0 8px 0;
    list-style: none;
}

.category-item--active .category-item__link {
    color: var(--primery-color);

}

.category-item {
    position: relative;
}

.category-item:first-child::before {
    display: none;
}

.category-item::before {
    content: "";
    border-top: 1px solid #E1E1E1;
    position: absolute;
    right: 20px;
    left: 20px;
}

.category-item__link {
    position: relative;
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
    padding: 6px 20px;
    display: block;

}

.category-item__link:hover {
    color: var(--primery-color);
}

/* Mobile category*/
.moblie-category {
    display: none;
}

.moblie-category__list {
    display: flex;
    list-style: none;
    padding-left: 0;
    max-width: 100%;
    overflow-x: scroll;
}

.moblie-category__list::-webkit-scrollbar {
    display: none;
}

.moblie-category__item {
    flex-shrink: 0;
    margin-right: 10px;
}

.moblie-category__item:nth-of-type(3n + 1) .moblie-category__link {
    background-color: #87AFD8;
}

.moblie-category__item:nth-of-type(3n + 2) .moblie-category__link {
    background-color: #76C9BD;
}

.moblie-category__item:nth-of-type(3n) .moblie-category__link {
    background-color: #88CF81;
}

.moblie-category__link {
    --line-height: 2rem;
    text-decoration: none;
    color: var(--white-color);
    font-size: 1.4rem;
    height: calc(var(--line-height) * 2);
    line-height: var(--line-height);
    overflow: hidden;
    text-align: center;
    width: 110px;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    border-radius: 4px;
    font-weight: 300;
    user-select: none;
    -webkit-user-select: none;
    -webkit-tap-highlight-color: transparent;
    padding: 0 6px;
}

/* home sort + filter */
.home-filter,
.home-filter__page {
    display: flex;
    align-items: center;
}

.home-filter {
    padding: 12px 22px;
    border-radius: 2px;
    background-color: rgba(0, 0, 0, 0.04);
}

.home-filter__lable {
    font-size: 1.4rem;
    color: #555555;
    margin-right: 12px;
}

.home-fillter-btn {
    margin-right: 12px;
    min-width: 90px;
}

.home-filter__page {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.home-filter__page-num {
    font-size: 1.4rem;
    color: var(--text-color);
    margin-right: 22px;
}

.home-filter__page-current {
    color: var(--primery-color)
}

.home-filter__page-control {
    display: flex;
    border-radius: 2px;
    overflow: hidden;
    width: 76px;
    height: 36px;
}

.home-filter__page-btn {
    flex: 1;
    background-color: var(--white-color);
    display: flex;
    text-decoration: none;
}

.home-filter__page-icon {
    margin: auto;
    font-size: 1.4rem;
    color: #555555;
}

.home-filter__page-btn:first-child {
    border-right: 1px solid #eee;
}

.home-filter__page-btn--disabled {
    background-color: #f9f9f9;
}

.home-filter__page-btn--disabled .home-filter__page-icon {
    color: #ccc;
}

/* pro items */
.home-product-item-wrapper {
    margin-bottom: 10px;
}

.home-product-item {
    display: block;
    text-decoration: none;
    margin-top: 10px;
    background-color: var(--white-color);
    border-bottom: 2px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    position: relative;
    transition: transform liner 0.1s;
    will-change: transform;
}

.home-product-item:hover {
    transform: translateY(-1px);
    box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.05);
    text-decoration: none;

}

.home-product-item__img {
    padding-top: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top center;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.home-product-item__name {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.8rem;
    height: 3.6rem;
    margin: 10px 10px 6px 10px;
    color: var(--text-color);
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.home-product-item__price {
    display: flex;
    justify-content: baseline;
    flex-wrap: wrap;
}

.home-product-item__price-old {
    font-size: 1.4rem;
    color: #666;
    text-decoration: line-through;
    margin-left: 10px;
}

.home-product-item__price-new {
    font-size: 1.6rem;
    color: var(--primery-color);
    margin-left: 10px;

}

.home-product-item__action {
    display: flex;
    justify-content: space-between;
    margin: 6px 10px 0;
}

.home-product-item__like {
    font-size: 1.3rem;
}

i.home-product-item__like-icon-fill {
    color: rgb(227, 38, 38);
    display: none;
}

.home-product-item__liked .home-product-item__like-icon-fill {
    display: inline-block;
}

.home-product-item__liked .home-product-item__like-icon-empty {
    display: none;
}

.home-product-item__ratting {
    font-size: 1rem;
    transform: scale(0.8);
    transform-origin: right;
    color: #ccc;
    margin-left: auto;
}

.homer-product-item__star--gold {
    color: var(--star-gold-color);
}

.home-product-item__sold {
    font-size: 1.2rem;
    color: var(--text-color);
    margin-left: 6px;
}

.home-product-item__origin {
    display: flex;
    justify-content: space-between;
    margin: 3px 10px 0;
    font-size: 1.2rem;
    color: #595959;
    font-weight: 300;

}


.home-product-item__favorite {
    position: absolute;
    top: 10px;
    left: -4px;
    color: var(--primery-color);
    background-color: currentColor;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.6rem;
    padding-right: 4px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}

.home-product-item__favorite:before {
    content: "";
    border-top: 3px solid currentColor;
    border-left: 3px solid transparent;
    position: absolute;
    left: 0;
    bottom: -3px;
    filter: brightness(60%)
}

.home-product-item__favorite span {
    color: var(--white-color);

}

.home-product-item__favorite i {
    color: var(--white-color);
    font-size: 0.9rem;
    margin: 0 3px 0 5px;
}

.home-product-item__sale-off {
    position: absolute;
    right: 0;
    top: 0;
    height: 36px;
    width: 40px;
    background-color: rgba(255, 216, 4, 0.94);
    border-top-right-radius: 2px;
    text-align: center;
}

.home-product-item__sale-off::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    border-width: 0 20px 6px;
    border-style: solid;
    border-color: transparent rgba(255, 216, 4, 0.94) transparent rgba(255, 216, 4, 0.94);
}

.home-product-item__sale-off-percent {
    color: #EE4D2D;
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 1.2rem;
    position: relative;
    top: 4px;
}

.home-product-item__sale-off-laybel {
    color: var(--white-color);
    font-size: 1.3rem;
    line-height: 1.3rem;
    font-family: 600;
    position: relative;
    top: 2px;
}

.home-product__pagination {
    margin-top: 48px;
    margin-bottom: 48px;
    padding-left: 0;
}

/* footer    */

.footer {
    border-top: 4px solid var(--primery-color);
    padding-top: 16px;
}

.footer-heading {
    font-size: 1.4rem;
    text-transform: uppercase;
    color: var(--text-color);
}

.footer-list {
    padding-left: 0;
    list-style: none;
}

.footer-item__link {
    text-decoration: none;
    font-size: 1.4rem;
    padding: 2px 0;
    display: flex;
    align-items: center;
    color: #888;
}

.footer-item__link:hover {
    color: var(--primery-color);
}

.footer-item__icon {
    font-size: 1.6rem;
    margin: -1px 8px 0 0;
}

.footer__download {
    display: flex;
}

.footer__download-qr {
    width: 80px;
    height: 80px;
    border: 1px solid var(--border-color);
}

.footer__download-app {
    flex: 1;
    margin-left: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer__download-img {
    height: 16px;
}

.footer__download-app-link {
    text-decoration: none;
}

.footer__bottom {
    padding: 12px 0;
    background-color: #f5f5f5;
    margin-top: 24px;
}

.footer__text {
    margin: 0;
    font-size: 1.4rem;
    text-align: center;
    color: #737373;
}


.products-details {
    background-color: #fff;
}


.product-direction {
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    height: 56px;
}

.product-direction-icon {
    margin: 0 4px;
}

.product-direction__link {
    text-decoration: none;
    color: #0055A9;
}

.products-details__body {
    padding: 20px 0;
}

.products-details__body-status {
    background-color: var(--primery-color);
    color: #fff;
    font-size: 1.2rem;
    padding: 2px 4px;
    border-radius: 2px;
    line-height: 1.4rem;
    margin-right: 8px;

}

.products-details__body-content {
    font-size: 2rem;
    font-weight: 500;
    line-height: 2.2rem;
    color: var(--text-color);
}

.products-details__body-trust-wrap {
    display: flex;
    justify-content: space-between;
    font-size: 1.4rem;
    font-weight: 300;
    color: var(--text-color);

}

.products-details__body-trust {
    display: flex;
    flex: 1;
    list-style: none;
    justify-content: space-between;
    padding-left: 0;
}

.products-details__body-trust:nth-child(2) {
    justify-content: right;
}

.products-details__body-trust-item {
    display: flex;
    align-items: center;
    position: relative;
}

.products-details__body-trust-item--separate::after {
    position: absolute;
    content: "";
    display: block;
    height: 16px;
    border-left: 1px solid #fc9086;
    right: -18px;
}

.products-details__body-price {
    height: 66px;
    background-color: #fafafa;
    font-weight: 500;
    display: flex;
    align-items: center;
    padding-left: 20px;
}

.product-old-price {
    text-decoration: line-through;
    font-size: 1.6rem;
    color: #929292;
}

.product-new-price {
    font-size: 2.8rem;
    color: var(--primery-color);
    font-weight: 500;
}

.product-discount-price {
    font-size: 1.2rem;
    color: #fff;
    background-color: var(--primery-color);
    padding: 2px 4px;
}

.products-details__body-price-item {
    margin-right: 10px;
}

.products-details__body-option {
    height: 60px;
    width: 100%;
}

.products-details__option {
    font-size: 1.6rem;
    list-style: none;
    padding-left: 0;

}



.product-number-star {
    color: var(--primery-color);
}

.product-number-comments {
    color: black;

}

.product-number-sold {
    color: black;

}

.products-details__body-option {
    display: flex;
    align-items: center;
}

.products-details__body-transport {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.products-details__body-option-wrap-transport {
    height: 68px;
    margin: 20px 0;
    align-items: normal;
}


.transport-location {

    display: flex;
    list-style: none;
    padding-left: 0;
    align-items: center;
}

.transport-location-item {
    padding-right: 16px;
}

.transport-location-item-link {
    color: black;
    text-decoration: none;
    font-weight: 600;
}

.product-transpot_free-img {
    height: 16px;
    margin-right: 8px;
}

.product-color {
    display: flex;
    list-style: none;
    padding-left: 0;
}

.product-color-item {
    height: 34px;
    margin-right: 12px;
    border: 1px solid rgba(0, 0, 0, .09);
    line-height: 34px;
    padding: 0 16px;
    text-align: center;
    width: 80px;
}

.sp-quantity {
    display: flex;
    align-items: center;
    margin-right: 16px;
}

.btn-buy {
    height: 34px;
    line-height: 34px;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, .09);
    width: 32px;
    cursor: pointer;

}

.btn-buy.btn-buy--number {
    min-width: 48px;
}

.sp-quantity-container {
    display: flex;
    align-items: center;
}

.btn-cart {
    width: 216px;
    height: 48px;
    background-color: rgba(255, 87, 34, .1);
    color: var(--primery-color);
    border: 1px solid var(--primery-color);
    border-radius: 2px;
    margin-right: 16px;
}

.btn-cart-buy {
    width: 114px;
    height: 48px;
    background-color: var(--primery-color);
    color: #fff;
    border-radius: 2px;
}

.products-details__img-wrap {
    padding: 16px;
}

.products-details__img-lg {
    height: 450px;

}

.products-details__img-sm {
    height: 82px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top center;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.products-details__img-lg {
    margin: 16px 0;
    background-color: #0055A9;
}

.products-details__img-sm-wrap {
    display: flex;
}

.product-avatar {
    height: 100%;
    width: auto;
}

.product__list-sm-img {
    display: flex;
}

.ddd {
    display: block;
    width: 100%;
}

.user-avatar {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    margin-right: 4px;
}

.checkbox-select-all-option {
    width: 204px;
    margin: 0 16px;
}

.stored-products {
    background-color: #fff;
    padding: 12px 16px;
    min-height: 650px;
    font-size: 1.4rem;
    position: relative;
}

.stored-trash {
    position: absolute;
    top: 46px;
    right: 28px;
    font-size: 2.4rem;
    color: black;
}

.stored-trash-count {
    position: absolute;
    top: -4px;
    right: -10px;
    padding: 1px 7px;
    color: black;
    background-color: var(--white-color);
    font-size: 1.4rem;
    line-height: 1.4rem;
    border-radius: 10px;
    border: 2px solid black;
}

.create-product {
    padding: 12px 16px;
    background-color: #fff;
    min-height: 644px;
    font-size: 1.4rem;
}

.product-size {
    padding: 0;
    list-style: none;
    display: flex;
    flex: 1;
    flex-wrap: wrap;
}

.product-size-item {
    height: 34px;
    margin-right: 12px;
    border: 1px solid rgba(0, 0, 0, 0.09);
    line-height: 34px;
    padding: 0 16px;
    text-align: center;
    width: 80px;
}