<div class="grid wide">
    <div class="row-df sm-gutter content">
        <div class="col-df l-2 m-0 c-0">
            <nav class="category">
                <h3 class="category__heading">Danh mục </h3>

                <ul class="category-list">
                    <li class="category-item ">
                        <a href="/products/create" class="category-item__link">Thêm sản phẩm</a>
                        {{!-- <a href="" class="category-item__link">Giày Sneaker</a> --}}
                    </li>
                    <li class="category-item">
                        <a href="/me/stored/products" class="category-item__link">Cập nhật sản phẩm</a>
                    </li>
                    <li class="category-item">
                        <a href="/me/trash/products" class="category-item__link">Xóa sản phẩm</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="col-df l-10 m-12 c-12 ">
            

            <div class="nav moblie-category">
                <ul class="moblie-category__list">
                    <li class="moblie-category__item">
                        <a href="" class="moblie-category__link">Sneaker & boot abc</a>
                    </li>
                    <li class="moblie-category__item">
                        <a href="" class="moblie-category__link">Sneaker</a>
                    </li>
                    <li class="moblie-category__item">
                        <a href="" class="moblie-category__link">Sneaker</a>
                    </li>
                    <li class="moblie-category__item">
                        <a href="" class="moblie-category__link">Sneaker</a>
                    </li>
                    <li class="moblie-category__item">
                        <a href="" class="moblie-category__link">Sneaker</a>
                    </li>
                    <li class="moblie-category__item">
                        <a href="" class="moblie-category__link">Sneaker</a>
                    </li>
                    <li class="moblie-category__item">
                        <a href="" class="moblie-category__link">Sneaker</a>
                    </li>
                    <li class="moblie-category__item">
                        <a href="" class="moblie-category__link">Sneaker</a>
                    </li>
                    <li class="moblie-category__item">
                        <a href="" class="moblie-category__link">Sneaker</a>
                    </li>
                    <li class="moblie-category__item">
                        <a href="" class="moblie-category__link">Sneaker</a>
                    </li>
                    <li class="moblie-category__item">
                        <a href="" class="moblie-category__link">Sneaker</a>
                    </li>
                    <li class="moblie-category__item">
                        <a href="" class="moblie-category__link">Sneaker</a>
                    </li>
                    <li class="moblie-category__item">
                        <a href="" class="moblie-category__link">Sneaker</a>
                    </li>
                    <li class="moblie-category__item">
                        <a href="" class="moblie-category__link">Sneaker</a>
                    </li>
                    <li class="moblie-category__item">
                        <a href="" class="moblie-category__link">Sneaker</a>
                    </li>
                    <li class="moblie-category__item">
                        <a href="" class="moblie-category__link">Sneaker</a>
                    </li>
                    <li class="moblie-category__item">
                        <a href="" class="moblie-category__link">Sneaker</a>
                    </li>
                    <li class="moblie-category__item">
                        <a href="" class="moblie-category__link">Sneaker</a>
                    </li>
                </ul>

            </div>

            <div class="create-product">
                <div class="row-df sm-gutter">
                    <div class="col-df l-12 m-12 c-12">
                        <h1>Thêm sản phẩm</h1>
                        <form method="post" action="/products/store">
                            <div class="form-group">
                                <label for="name">Tên sản phẩm</label>
                                <input type="text" class="form-control" id="name" name="name">
                            </div>
                            <div class="form-group">
                                <label for="des">Mô tả</label>
                                <input type="text" class="form-control" id="des" name="des">
                            </div>
                            <div class="form-group">
                                <label for="origin">Xuất xứ</label>
                                <input type="text" class="form-control" id="origin" name="origin">
                            </div>
                            <div class="form-group">
                                <label for="brand">Hãng</label>
                                <input type="text" class="form-control" id="brand" name="brand">
                            </div>

                            <div class="form-group">
                                <label for="i_price">Giá nhập</label>
                                <input type="text" class="form-control" id="i_price" name="i_price">
                            </div>

                            <div class="form-group">
                                <label for="price">Giá bán</label>
                                <input type="text" class="form-control" id="price" name="price">
                            </div>

                            <div class="form-group">
                                <label for="discount">Giảm giá</label>
                                <input type="text" class="form-control" id="discount" name="discount">
                            </div>

                            <button type="submit" class="btn btn-primary">Thêm sản phẩm</button>
                        </form>
                    </div>


                </div>
            </div>

            
        </div>
    </div>
</div>