<header class="header">
    <div class="grid wide header">
        <nav class="navbar hide-on-mobile-tablet">
            <ul class="navbar-list">
                <li class="navbar-item navbar-qr navbar-item--separate">
                    Vào cửa hàng trên ứng dụng Shoes
                    <div class="header-qr">
                        <img src="/img/qr_code.png" alt="QR-Code" class="header-qr-img">
                        <div class="header-qr-apps">
                            <a href="" class="header__qr-link">
                                <img src="/img/google_play.png" alt="GG Play" class="header-qr-download-img">
                            </a>
                            <a href="" class="header__qr-link">

                                <img src="/img/app_store.png" alt="App Store" class="header-qr-download-img">
                            </a>
                        </div>
                    </div>
                </li>
                <li class="navbar-item">
                    <span class="navbar-title--no-pointer">Kết nối</span>
                    <a href="" class="navbar-icon-link"><i class="navbar-icon fa-brands fa-facebook"></i></a>
                    <a href="" class="navbar-icon-link"><i class="navbar-icon fa-brands fa-instagram"></i></a>
                </li>

            </ul>
            <ul class="navbar-list">
                <li class="navbar-item header__notify-items--has-notify">
                    <a href="" class="navbar-item__link header__notify-items--has-notify">
                        <i class="navbar-item-icon fa-solid fa-bell "></i>
                        Thông báo
                    </a>
                    <div class="header__notify">
                        <header class="header__notify-header">
                            <h3>Thông báo mới nhận</h3>
                        </header>
                        <ul class="header__notify-list">
                            <li class="header__notify-items ">
                                <a href="" class="header__notify-link">
                                    <img src="https://venuko.vn/Upload/2021/7/31/top-5-my-pham-ohui-han-quoc-duoc-phai-dep-san-lung-nhieu-nhat-hinh-anh-1.png"
                                        alt="" class="header__notify-img">
                                    <div class="header__notify-infor">
                                        <span class="header__notify-name">Mỹ phẩm Ohiu chính hãng</span>
                                        <span class="header__notify-description">Mô tả Mỹ phẩm Ohiu chính hãng</span>
                                    </div>
                                </a>
                            </li>
                            <li class="header__notify-items ">
                                <a href="" class="header__notify-link">
                                    <img src="https://venuko.vn/Upload/2021/7/31/top-5-my-pham-ohui-han-quoc-duoc-phai-dep-san-lung-nhieu-nhat-hinh-anh-1.png"
                                        alt="" class="header__notify-img">
                                    <div class="header__notify-infor">
                                        <span class="header__notify-name">Mỹ phẩm Ohiu chính hãng</span>
                                        <span class="header__notify-description">Mô tả Mỹ phẩm Ohiu chính hãng</span>
                                    </div>
                                </a>
                            </li>
                            <li class="header__notify-items ">
                                <a href="" class="header__notify-link">
                                    <img src="https://venuko.vn/Upload/2021/7/31/top-5-my-pham-ohui-han-quoc-duoc-phai-dep-san-lung-nhieu-nhat-hinh-anh-1.png"
                                        alt="" class="header__notify-img">
                                    <div class="header__notify-infor">
                                        <span class="header__notify-name">Mỹ phẩm Ohiu chính hãng</span>
                                        <span class="header__notify-description">Mô tả Mỹ phẩm Ohiu chính hãng</span>
                                    </div>
                                </a>
                            </li>
                        </ul>

                        <footer class="header__notify-footer">
                            <a href="" class="header__noify-footer-btn">Xem tất cả</a>
                        </footer>
                    </div>
                </li>
                <li class="navbar-item">
                    <a href="" class="navbar-item__link">
                        <i class="navbar-item-icon fa-solid fa-circle-info"></i>
                        Trợ giúp

                    </a>
                </li>
                {{!-- <li class="navbar-item navbar-user">
                    <img src="https://www.pavilionweb.com/wp-content/uploads/2017/03/man.png" alt=""
                        class="navbar-user-img">
                    <span class="navbar-user-name">Trần Mạnh Tiến</span>
                    <ul class="navbar-user-menu">
                        <li class="navbar-user-item">
                            <a href="/">Sản phẩm của tôi</a>
                        </li>
                        <li class="navbar-user-item">
                            <a href="/me/stored/products">Quản lý hệ thống</a>
                        </li>
                        <li class="navbar-user-item">
                            <a href="">Đơn mua</a>
                        </li>
                        <li class="navbar-user-item">
                            <a href="/courses/create">Thêm sản phẩm</a>
                        </li>
                        <li class="navbar-user-item">
                            <a href="">Quản lý sản phẩm</a>
                        </li>
                        <li class="navbar-user-item">
                            <a href="">Sản phẩm của tôi</a>
                        </li>
                        <li class="navbar-user-item navbar-user-item--separate">
                            <a href="">Đăng xuất</a>
                        </li>
                    </ul>
                </li> --}}
                <li id="regis-togger"><a class="navbar-item navbar-item--strong navbar-item--separate "
                        href="/api/users/createUser">Đăng ký</a></li>
                <li  id="login-togger"><a class="navbar-item navbar-item--strong" href="/api/users/userLogin">Đăng
                        nhập</a>
                </li>
            </ul>
        </nav>

        <div class="header-width-search">
            <label for="mobile-search-checkbox" class="header__mobile-search">
                <i class="header__mobile-search-icon fa-solid fa-magnifying-glass"></i>
            </label>
            <div class="header__logo hide-on-tablet">
                <a href="/" class="header__logo-link">
                    <i class="fa-solid fa-bag-shopping header__logo-icon"></i>
                    <span class="header__logo-title">Shoes</span>
                </a>
            </div>

            <input type="checkbox" hidden id="mobile-search-checkbox" class="header__search-checkbox">

            <div class="header__search ">
                <div class="header__search-input-wrap">

                    <input type="text" class="header__search-input" placeholder="Nhập để tìm kiếm sản phẩm">
                    <!-- search-history -->
                    <div class="header__search-history">
                        <h3 class="header__search-history-title">Lịch sử tìm kiếm</h3>
                        <ul class="header__search-history-list">
                            <li class="header__search-history-item"><a href="">Giày nike air fore 1</a></li>
                            <li class="header__search-history-item"><a href="">Giày thể thao cho nữ</a></li>
                            <li class="header__search-history-item"><a href="">Chelsea boot</a></li>
                        </ul>
                    </div>
                </div>
                <div class="header__search-select">
                    <span class="header__search-select-label">
                        Trong shop
                    </span>
                    <i class="header__search-select-icon fa-solid fa-chevron-down"></i>
                    <ul class="header__search-option">
                        <li class="header__search-option-item">
                            <span>Trong shop</span>
                            <i class="header__search-option-icon fa-solid fa-check"></i>
                        </li>
                        <li class="header__search-option-item">
                            <span>Ngoài shop</span>
                            <i class=" header__search-option-icon fa-solid fa-check"></i>
                        </li>

                    </ul>
                </div>
                <button class="header__search-btn">
                    <i class="header__search-btn-icon fa-solid fa-magnifying-glass"></i>

                </button>
            </div>
            <!-- cart layout -->
            <div class="header__cart">
                <div class="header__cart-wrap ">
                    <i class="header__cart-icon fa-solid fa-cart-shopping"></i>
                    <!-- <span class="header__cart-notice">3</span> -->

                    <!-- no cart -->
                    <div class="header__cart-list ">
                        <img src="/img/no-cart.png" alt="" class="header__cart-no-cart-img">
                        <span class="header__cart-list-no-cart-msg">
                            Chưa có sản phẩm
                        </span>
                        <!-- <h4 class="header__cart-heading">Sản phẩm đã thêm</h4>
                    <ul class="header__cart-list-item"> -->
                        <!-- cart-item -->
                        <!-- <li class="header__cart-item">
                            <img src="./assets/img/shopping-item1.jpeg" alt="" class="header__cart-img">
                            <div class="header__cart-item-infor">
                                <div class="header__cart-item-head">
                                    <h5 class="header__cart-item-name">
                                        Giày Sneaker MLB Nam Nữ, Giày Boston, NY, LA Da Bò Đế 2 Lớp Tăng Chiều Cao Hàng Cao Cấp Full Box + Bill
                                    </h5>
                                    <div class="header__cart-item-price-wrap">
                                        <span class="header__cart-item-price">999.000đ</span>
                                        <span class="header__cart-item-multiply">x</span>
                                        <span class="header__cart-item-qnt">1</span>

                                    </div>
                                </div>
                                <div class="header__cart-item-body">
                                    <span class="header__cart-item-description">Phân loại hàng: Bạc</span>
                                    <span class="header__cart-item-remove">Xoá</span>

                                </div>
                            </div>
                        </li>
                        <li class="header__cart-item">
                            <img src="./assets/img/shopping-item2.jpeg" alt="" class="header__cart-img">
                            <div class="header__cart-item-infor">
                                <div class="header__cart-item-head">
                                    <h5 class="header__cart-item-name">
                                        Chelsea Boots Da Xít Cao Cấp Không Nhăn Phong Cách Lịch Lãm TIBAS
                                    </h5>
                                    <div class="header__cart-item-price-wrap">
                                        <span class="header__cart-item-price">2.000.000đ</span>
                                        <span class="header__cart-item-multiply">x</span>
                                        <span class="header__cart-item-qnt">1</span>

                                    </div>
                                </div>
                                <div class="header__cart-item-body">
                                    <span class="header__cart-item-description">Phân loại hàng: Bạc</span>
                                    <span class="header__cart-item-remove">Xoá</span>

                                </div>
                            </div>
                        </li>
                        <li class="header__cart-item">
                            <img src="./assets/img/shopping-item3.jpeg" alt="" class="header__cart-img">
                            <div class="header__cart-item-infor">
                                <div class="header__cart-item-head">
                                    <h5 class="header__cart-item-name">
                                        Giày AF1 vệt nâu bản trung SC, Air Force 1 màu nâu trắng dành cho nam nữ Full box bill
                                    </h5>
                                    <div class="header__cart-item-price-wrap">
                                        <span class="header__cart-item-price">2.000.000đ</span>
                                        <span class="header__cart-item-multiply">x</span>
                                        <span class="header__cart-item-qnt">1</span>

                                    </div>
                                </div>
                                <div class="header__cart-item-body">
                                    <span class="header__cart-item-description">Phân loại hàng: Bạc</span>
                                    <span class="header__cart-item-remove">Xoá</span>

                                </div>
                            </div>
                        </li>
                    </ul>
                    <div class="header__cart-viewcart">

                        <button class="btn btn--primery">Xem giỏ hàng</button>
                    </div>
                </div> -->

                    </div>
                </div>
            </div>
        </div>
        <ul class="header__sort-bar">
            <li class="header__sort-item">
                <a href="" class="header__sort-link">Liên quan</a>
            </li>

            <li class="header__sort-item header__sort-item--active">
                <a href="" class="header__sort-link">Mới nhất</a>
            </li>

            <li class="header__sort-item">
                <a href="" class="header__sort-link">Bán chạy</a>
            </li>

            <li class="header__sort-item">
                <a href="" class="header__sort-link">Giá</a>
            </li>

        </ul>



</header>